body {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
    background: url("../assets/home.jpg");
    background-size: cover;
}

.signIn {
    background: rgb(250, 202, 58);
}

.signUp {
    background: rgb(184, 180, 180);
}